@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

body {
	color: #566787;
	background: #272727;
	background-color: #272727;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
}

.btn-success {
	background-color:#7741f5;
	border-color:rgb(70, 69, 69);
}
.btn-success:hover {
	background-color:#713af1;
	border-color:rgb(70, 69, 69);
}
.btn-success:focus {
	color: #7741f5;
	border-color:rgb(70, 69, 69);
}
.btn-success:active { 
	color: #7741f5;
	border-color:rgb(70, 69, 69);
}
.btn-success:default { 
	color: #7741f5;
	border-color:rgb(70, 69, 69);
}

element.style {
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.table-title .btn {
    color: #f0f0f0;
    float: right;
    font-size: 14px;
    border: none;
    min-width: 50px;
    border-radius: 15px;
    border: none;
    outline: none !important;
    margin-left: 8px;
}
.btn-success:focus {
    color: #7741f5;
    border-color: rgb(70, 69, 69);
}
.btn-success.focus, .btn-success:focus {
	color: #7741f5;
    border-color: rgb(70, 69, 69);
}
.btn-act {
	padding: 4px;
}
.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
	background: #272727;
	padding: 20px 25px;
	border-radius: 3px;
	min-width: 1000px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
	padding-bottom: 15px;
	/* background: #d4973c; */
	color: #f0f0f0;
	padding: 16px 30px;
	min-width: 100%;
	margin: -20px -25px 10px;
	border-radius: 5px;
}
.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}
.table-title .btn-group {
	float: right;
}
.table-title .btn {
	color: #f0f0f0;
	float: right;
	font-size: 14px;
	border: none;
	min-width: 50px;
	border-radius: 15px;
	border: none;
	outline: none !important;
	margin-left: 8px;
}
.table-title .btn i {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}
.table-title .btn span {
	float: left;
	margin-top: 2px;
}
table.table tr th, table.table tr td {
	border-color: #4e4e4e;
	padding: 12px 15px;
	vertical-align: middle;
}

table.table tr th:last-child {
	width: 150px;
}
table.table-striped tbody tr:nth-of-type(odd) {
	background-color: #474747;
}
table.table-striped.table-hover tbody tr:hover {
	background: #f5f5f5;
}
table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}	
table.table td:last-child i {
	opacity: 0.9;
	font-size: 22px;
	margin: 0 5px;
}
table.table td a {
	font-weight: bold;
	color: #566787;
	display: inline-block;
	text-decoration: none;
	outline: none !important;
}
table.table td a:hover {
	color: #2196F3;
}
table.table td a.edit {
	color: #075eff;
}
table.table td a.delete {
	color: #075eff;
}
table.table td i {
	font-size: 19px;
}
table.table .avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}
.pagination {
	float: right;
	margin: 0 0 5px;
}
.pagination li a {
	border: none;
	font-size: 13px;
	min-width: 30px;
	min-height: 30px;
	color: rgb(197, 196, 196);
	margin: 0 2px;
	line-height: 30px;
	border-radius: 2px !important;
	text-align: center;
	padding: 0 6px;
}
.pagination li a:hover {
	color: rgb(238, 237, 237);
}	
.pagination li.active a, .pagination li.active a.page-link {
	background: #9269f3;
}
.pagination li.active a:hover {        
	background: #9a77ec;
}
.pagination li.disabled i {
	color: rgb(70, 69, 69);
}
.pagination li i {
	font-size: 16px;
	padding-top: 6px
}
.hint-text {
	float: left;
	margin-top: 10px;
	font-size: 13px;
	color:#9269f3;
}   

/* Modal styles */
.modal {
	color: #eeeeee;
}
.modal .modal-dialog {
	max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal .modal-content {
	border-radius: 3px;
	font-size: 14px;
	background-color: #474747;
}
.modal .modal-footer {
	background: #474747;
	border-radius: 0 0 3px 3px;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #474747;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 2px;
	min-width: 100px;
}	
.modal form label {
	font-weight: normal;
}	